/* src/Components/NavBar/NavBar.css */
.navbar {
  display: flex;
  justify-content: space-around;
  background-color: #2f4f2f;
  padding: 10px;
}

.nav-link {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

.nav-link:hover {
  color: #f8f8f2;
}
